body{
    margin: 0;
    padding: 0;
    color: rgb(60, 55, 55);
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
html, body, .content {
    scroll-behavior: smooth;
}
#slidingDiv {
    position: relative;
        left: -100%;
      transition: left 1s ease-in-out;
    }
    .hidden {
        display: none;
      }
#link{
    color: white;
    text-decoration: none;
    box-shadow: 2px 1px 5px rgb(51, 49, 49);
    padding: 10px;
    font-size: 14px;
    transition: 0.5s;
      border-radius: 10px;
      background-color: #0884cc;
}
#link:hover{
    background-color: #0884cc;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}
header{
    height: 400px;
    background-image: url(files/copy1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#inside{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.945);
    text-align: center;
    color: white;
    padding-top: 90px; 
}


#background{
position: absolute;
top: 0;
color: white;
text-align: center;
width: 100%;
padding-top: 13%;
font-size: 20px;
font-weight: lighter;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#a{
    border: 2px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
ul li{
    display: inline;
}
nav{
    background-color: #0884cc;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 10000;
}
#links{
    margin-right: 40px;
   color: white;
   cursor: pointer;
   padding: 6px;
   font-weight: bolder;
   transition:  0.5s;
   border-radius: 10px;
}
#links:hover{
   background-color: white;
   color: #0884cc;
   border-radius: 10px;
}

section{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: large;
}
section >div{
    width: 20%;
    margin-right: 20px;
    height: 400px;
    margin-top: 10%;
    
}

section >div >img{
    width: 100px;
}
@media only screen and (max-width: 900px) {
    section >div{
        width: 40%;
        margin: 20px;
    }
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   width: 100%;
}
article>div{
    margin: 20px;
}
article>div> img{
  width:100%;
  border-radius: 10px;
}




a{
    text-decoration: none;
}
#inner1{
    width: 25%;
    margin-top: 5%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    height: 500px;
}
#inner{
    width: 50%;
}
#inner>div>h1{
    font-size: 28px;
    font-weight: 600;
}

#inner2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#inner2> div{
    width: 150px;
    height: 150px;
    margin: 15px;
    box-shadow: 2px 2px 10px rgb(216, 215, 215);
}
#inner2> div >img{
width: 100%;
height: 100%;
}

#portfolio{
    display: flex;
    flex-direction: column;
  justify-content: center;
  
}
#portfolio>a>h1{
    font-size: 28px;
    font-weight: 700;
}
#porta{
    display: flex;
    flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#porta>a{
width: 40%;
height: 300px;
margin: 20px;
box-shadow: 1px 1px 10px #0884cc;
}
#porta>a>img{
    width: 100%;
    height: 300px;
    }
 
    #visit  {
        display: none;
        background-color: #0884cc9a;
        text-align: center;
        position: absolute;
        padding-top: 80px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #visit1 {
        display: none;
        background-color: #0884cc9a;
        text-align: center;
        padding: 88px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
   #visit3{
    display: none;
    background-color: #0884cc9a;
        text-align: center;
        padding: 93px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
   }
   #visit5{
    display: none;
        background-color: #0884cc9a;
        text-align: center;
        padding: 103px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
   }
   .p>p{
color: white;
   }
    
    
#porta>a>div>a{
    color: white;
}
#porta>a>div>a:hover{
  text-decoration: underline;
}
#porta>a>div>h3{
    font-size: 22px;
    color: white;
}
#design{
display: flex;
flex-direction: row;
width: 100%;
}
#design>div{
    height: 100px;
    background-color:wheat;
    width: 50%;
}

#flexy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#flexy>div{
    width:30%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#flexy>div>form>label>input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
#flexy>div>form>label>textarea{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80px;
    min-width:100%;
    min-height: 80px;
}

footer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #0884cc;
    width: 100%;
}
footer>div{
    text-align: center;
    padding-top: 30px;
    line-height: 0;
}
#spanner > a{
    margin-right: 20px;
    color: #fff;
}
video{
    width: 100%;
}
@media only screen and (max-width: 900px) {
    #hide{
        width: 20% !important;
       }
       #insider{
        width:60%!important;
       }  
       #inner1{
        height: 700px;
    
    }  
}
@media only screen and (max-width: 700px) {
   #hide{
    display: none !important;
   }
   #insider{
    width: 80% !important;
   }
   #porta{
    flex-direction:column;
}
#porta>a{
    width: auto;
}
#inner1{
    width: 100%;
    height: auto;

}
nav{
    display: none;
}
video{
    height: 500px;
    width: 100%; 
    margin-top: 0;
}
#background{
    top: 15%;
    font-size: 13px;
    height: auto;
    }
    #a{
    font-size: 15px;
    }
    #inner{
        width: auto;
    }

    #inner2> div{
        width: 100px;
        height: 100px;
        margin: 10px;
        box-shadow: 2px 2px 10px rgb(216, 215, 215);
    }
    #inner2> div >img{
    width: 100%;
    height: 100%;
    }

    section{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        font-size: medium;
    }
    section >div{
        width: 35%;
        margin-right: 0;
        height: 400px;
        margin-top: 0;
        margin: 5px;
    }
    
    section >div >img{
        width: 100px;
    }
}

#side{
    background-color: #0884cc;
    height: 70px;
    display: none;
   
}

@media only screen and (max-width: 800px) {
    #side{
        display: block;
    }
    article{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
       width: 100%;
    }
   #inner1{
    width: auto;
   }
   #inner{
    width: auto;
   }
   
}
.container {
    display: none;
    float: right;
    margin-right: 40px;
    margin-top: 15px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

 

  @media screen and (max-width:1200px) {
   .container{
    display: inline-block;
    cursor: pointer;
   }
    #ul1{
        display: none;
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    line-height: 50px;
    color: #3d3d3d;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
border-bottom: 1px solid #e4e4e4;
padding-left: 15px;
  }
  
  .sidenav a:hover {
    color: #0884cc;
  }
  #img{
    margin-left: 40px;
  }
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
